<!--<!doctype html>
<html>
<head>
	<meta charset='UTF-8' />
	<style>
		input, textarea {border:1px solid #CCC;margin:0px;padding:0px}

		#body {max-width:800px;margin:auto}
		#log {width:100%;height:400px}
		#message {width:100%;line-height:20px}
	</style>
	<link rel="icon" href="data:;base64,=">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

</head>

<body>
	<h1>Welcome to <%= title %>!</h1>
	<div id='body'>
		<textarea id='log' name='log' readonly='readonly'></textarea><br/>
		<input type='text' id='message' name='message' />
                <button id="send">send</button>
	</div>

        <script>
		var s = new WebSocket('ws://localhost:3001/users/echo/');
		s.addEventListener('error', function (m) { console.log("error"); });
		s.addEventListener('open', function (m) { console.log("websocket connection open"); });
		s.addEventListener('message', function (m) { console.log(m.data); });

                var input = document.querySelector('#message');
                console.log(input);
                document.querySelector('#send').addEventListener("click", function(){
                    s.send(input.value);
                });
	</script>

</body>

</html> -->



<html>
  <head>
    <title>Angular QuickStart</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 1. Load libraries -->
     <!-- Polyfill(s) for older browsers -->
     <script src="https://code.angularjs.org/tools/typescript.js"></script>
    <script src="node_modules/core-js/client/shim.min.js"></script>
    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>
    <!-- 2. Configure SystemJS -->
    <script src="/systemjs.config.js"></script>
    <script>
      System.import('app').catch(function(err){ console.error(err); });
    </script>
  </head>
  <!-- 3. Display the application -->
  <body>
    <my-app>Loading...</my-app>
  </body>
</html>