<!doctype html>
<html>
<head>
	<meta charset='UTF-8' />
	<style>
		input, textarea {border:1px solid #CCC;margin:0px;padding:0px}

		#body {max-width:800px;margin:auto}
		#log {width:100%;height:400px}
		#message {width:100%;line-height:20px}
	</style>
	<link rel="icon" href="data:;base64,=">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>
		var s = new WebSocket('ws://localhost:3001/users/echo/');
		s.addEventListener('error', function (m) { console.log("error"); });
		s.addEventListener('open', function (m) { console.log("websocket connection open"); });
		s.addEventListener('message', function (m) { console.log(m.data); });
	</script>
</head>

<body>
	<h1>Welcome to <%= title %>!</h1>
	<div id='body'>
		<textarea id='log' name='log' readonly='readonly'></textarea><br/>
		<input type='text' id='message' name='message' />
	</div>
</body>

</html>